// Variables
$color-bold: #F40000;
$color-accent: #000;
$color-highlight: #f1f1f1;

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none !important;
    outline: none;
}
h1, h2, h3, h4, h5, h6{
    padding: 0; margin: 0;
}

// Height:
@mixin height($divider) {
    $max-height: 720px;
    height: $max-height/$divider !important;
}

.height {
    @each $space,
    $divider in (xl: 1, lg: 2, md: 3, sm: 4, xs: 5, xx: 10) {
        $max-height: 720px;
        &-#{$space} {
            height: $max-height / #{$divider};
        }
    }
}
.full {
    &-width {
        width: 100%;
    }
    &-height {
        height: 100%;
    }
}

// Padding & margin
.padding {
    @each $side in top,
    bottom,
    left,
    right {
        &-#{$side} {
            @each $space,
            $multiplier in (xl: 4, lg: 2, md: 1, sm: 0.5, xs: 0.25, xx: 0.1, none: 0) {
                $normal: 15px;
                &-#{$space} {
                    padding-#{$side}: $normal * $multiplier;
                }
            }
        }
        @each $space,
        $multiplier in (xl: 4, lg: 2, md: 1, sm: 0.5, xs: 0.25, xx: 0.1, none: 0) {
            $normal: 15px;
            &-#{$space} {
                padding: $normal * $multiplier;
            }
        }
    }
}

.margin {
    @each $side in top,
    bottom,
    left,
    right {
        &-#{$side} {
            @each $space,
            $multiplier in (xl: 4, lg: 2, md: 1, sm: 0.5, xs: 0.25, xx: 0.1, none: 0) {
                $normal: 15px;
                &-#{$space} {
                    margin-#{$side}: $normal * $multiplier;
                }
            }
        }
    }
    @each $space,
    $multiplier in (xl: 4, lg: 2, md: 1, sm: 0.5, xs: 0.25, xx: 0.1, none: 0) {
        $normal: 15px;
        &-#{$space} {
            margin: $normal * $multiplier;
        }
    }
}



// Border & BG
.border {
    border: 1px solid #ccc;

    @each $side in top,
    bottom,
    left,
    right {
        &-#{$side} {
            border-#{$side}-width: 1px;
            border-#{$side}-color: lighten($color-bold, 30);
            border-#{$side}-style: solid;
        }
    }
    &-light {
        border-color: lighten($color-bold, 60);
    }
    &-dark {
        border-color: darken($color-bold, 20);
    }
    &-radius {
        border-radius: 6px;
    }
}

.bg {
    &-primary{
        background-color: $color-bold;
    }
    &-highlight{
        background-color: $color-highlight;
    }
    &-accent, &-accent:hover{
        background-color: $color-accent;
        color: #fff;
    }
    &-grey {
        background-color: #ccc;
    }
    &-grey-dark {
        background-color: #aaa;
        color: #fff;
    }
    &-grey-light {
        background-color: #eee;
        &er{
            background-color: #f1f1f1;
        }
    }
    &-transparent {
        background-color: transparent !important;
    }
}
// Fixes
.no-pad {
    padding: 0;
    margin: 0;
}


.table{
    &-curved {
        border-collapse: separate;
    }
    &-curved {
        border: solid #ccc 1px;
        border-radius: 6px;
        border-left:0px;
    }
    &-curved td, &-curved th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    &-curved th {
        border-top: none;
    }
    &-curved th:first-child {
        border-radius: 6px 0 0 0;
    }
    &-curved th:last-child {
        border-radius: 0 6px 0 0;
    }
    &-curved th:only-child{
        border-radius: 6px 6px 0 0;
    }
    &-curved tr:last-child td:first-child {
        border-radius: 0 0 0 6px;
    }
    &-curved tr:last-child td:last-child {
        border-radius: 0 0 6px 0;
    }
}

strike {
    color: red;
}
.modal{
    padding-top: 60px;
    &-content{
        border-radius: 0;
    }
    &-header{
        background-color: $color-highlight;
    }
}
.label{
    font-weight: 400;
}
