<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/semantic.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
</head>

<body>
<div class="l-page">
    {% block content %} {% endblock %}
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/semantic.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/ux.js"></script>
</body>
</html>
