{% extends "base.html" %} {% block content %}
    <div class="ui grid bg-grey-lighter">
        <div class="row">
            <div class="ui equal width container grid">
                <div class="middle aligned row">
                    <div class="column">
                        <h3>Water Distribution Network</h3>
                        <h5>Embu County</h5>
                    </div>
                    <div class="right aligned column">
                        <div class="l-profile">
                            <h4>Jane Doe</h4>
                            <small>Billing Department</small>
                        </div>
                        <div class="ui icon large pointing dropdown button">
                            <i class="dropdown icon"></i>
                            <div class="left menu">
                                <a href="billing.html" class="item">Billing Department</a>
                                <a href="technical.html" class="item">Technical Department</a>
                                <a href="index.html" class="item">Administrator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui equal width container grid">
        <div class="middle aligned row">
            <div class="four wide column">
                <h3>Summary</h3>
                <span>1 Nov 18 - 30 Nov 18</span>
            </div>
            <div class="right aligned column">
                <button class="ui button">1 Nov 18 - 30 Nov 18</button>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="ui horizontal equal width segments">
                    <div class="ui green segment">
                        <div class="ui middle aligned equal width grid">
                            <div class="row">
                                <div class="column">
                                    <strong>Amount<br />Collected</strong>
                                </div>
                                <div class="right aligned column">
                                    <h2>Ksh. 12,23,910</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class="ui green small progress tab-progress" data-percent="45">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grey segment">
                        <div class="ui middle aligned equal width grid">
                            <div class="row">
                                <div class="column">
                                    <strong>Total<br />Accounts</strong>
                                </div>
                                <div class="right aligned column">
                                    <h2>2,923,910</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class="ui grey small progress tab-progress" data-percent="95">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle aligned row">
            <div class="column">
                <h3>Pending Payments</h3>
            </div>
            <div class="twelve wide right aligned column">
                <button class="ui button">All Accounts</button>
                <button class="ui button">Pending Payments</button>
                <button class="ui button">Export</button>
            </div>
            <div class="sixteen wide column padding-top-md">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Account</th>
                        <th>Location</th>
                        <th>Region</th>
                        <th>Account</th>
                        <th>Consumption</th>
                        <th class="right aligned">Balance</th>
                        <th class="collapsing"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    <tr>
                        <td>James Doe<br /><small>Meter 23JH</small></td>
                        <td>Nairobi Road</td>
                        <td>Embu North</td>
                        <td>-</td>
                        <td>34,920</td>
                        <td class="right aligned">Ksh. 506</td>
                        <td><button class="ui icon button"><i class="dropdown icon"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
