<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Primary Meta Tags -->
    <title>{% if title %}{{ title }}{% else %}Title v1{% endif %}</title>
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
{% block content %} {% endblock %}
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
